:root {
	/* color palette */
	--accent-color: #A2D729;
	--primary-color: #342E37;
	--background-color: #FAFFFD;
	--error-color: #9A031E;
	/* other variables */
	--text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	--box-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

@font-face {
	font-family: "Roboto Slab";
	src: url("fonts/RobotoSlab-Regular.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.otf");
}

body {
	font-family: "Roboto Slab", "Arial";
	background: var(--background-color);
	margin: 0px;
}

/* General */

	.fr { float: right; }
	.fl { float: left; }
	.hide { display: none; }

/* Folders */

	.div-folder-wrapper {
		display: inline-block;
		width: 228px;
		padding: 10px;
	}

	.div-folder-empty,
	.div-folder-nonempty {
		background-color: #FFFFFF;
		width: 100%;
		height: 200px;
		margin-bottom: 10px;
		box-shadow: var(--box-shadow);
		font-size: 12px;
		border-radius: 5px;
		position: relative;
	}

	.div-folder-empty:hover,
	.div-folder-nonempty:hover {
		background-color: var(--primary-color);
		color: #FFF;
		cursor: default;
	}

	.div-folder-nonempty:hover .ul-directory,
	.div-folder-nonempty:hover .div-folder-empty i,
	.div-folder-empty:hover i {
		color: #FFF;
	}

	.div-folder-empty-icon {
		text-align: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.div-folder-empty-icon:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.div-folder-empty-icon i {
		vertical-align: middle;
		font-size: 96px;
		color: #000;
	}

	.div-folder-nonempty {
		overflow: hidden;
	}

	.div-folder-nonempty:hover {
		overflow-y: auto;
	}

	.div-folder-title {
		margin-bottom: 5px;
		width: 100%;
		background: var(--primary-color);
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: var(--accent-color);
		font-size: 18px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding: 0px 10px;
		box-sizing: border-box;
		text-shadow: 1px 1px 2px rgba(0,0,0,.5);
		box-shadow: var(--box-shadow);
		//box-shadow: 0px 0px 3px 0px rgba(0,0,0,.8);
	}

	.div-folder-title:hover {
		cursor: default;
	}

	.div-folder-title div {
		display: none;
		position: relative;
	}

	.div-folder-title div:before {
		font-family: "FontAwesome";
		color: var(--accent-color);
		position: relative;
		right: 0px;
		content: "\f040";
	}

	.div-folder-title > div > input {
		font-size: 18px;
		font-family: "Roboto Slab";
		width: 90%;
		border: none;
		padding: 0;
		line-height: 30px;
		outline: none;
		text-align: center;
		background: var(--primary-color);
		color: #FFF;
		text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	}

	.ul-directory {
		white-space: nowrap;
		list-style: none;
		padding-left: 0px;
		margin-left: 15px;
		margin-right: 15px;
		color: #313131;
	}

	.ul-folders {
		text-align: left;
		list-style-type: none;
		padding-left: 0;
	}

	.ul-folders > li {
		height: 30px;
		line-height: 31px;
		margin-bottom: 5px;
		background: rgba(0,0,0,.03);
		color: var(--primary-color);
		border-bottom: 2px solid var(--primary-color);
	}

	.ul-folders > li:hover {
		background: var(--primary-color);
		color: var(--accent-color);
		cursor: pointer;
		border-bottom: 2px solid var(--primary-color);
	}

	.ul-folders > li:hover i {
		background: var(--primary-color);
	}

	.ul-folders > li > i {
		width: 30px;
		height: 100%;
		line-height: inherit;
		text-align: center;
		color: var(--accent-color);
		background: var(--primary-color);
	}

	.ul-folders > li > span {
		padding: 4px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.div-folders-empty {
		padding: 20px 0px 0px 0px;
		color: var(--primary-color);
	}

	.div-folders-empty > i {
		color: var(--error-color);
		font-size: 96px;
	}

	.div-folders-empty > p {
		margin: 0;
		margin-top: 10px;
		font-weight: 800;
		font-size: 18px;
	}

/* Files */

	.div-files-table {
		display: table;
		width: 100%;
		margin-top: 20px;
	}

	.div-files-header {
		display: table-header-group;
		background: var(--primary-color);
		color: var(--accent-color);
	}

	.div-files-row {
		display: table-row;
	}
	
	.div-files-row:nth-child(odd) {
		background-color: #E2E2E2;
	}

	.div-files-cell {
		display: table-cell;
		padding: 7px;
	}

/* Header */

	.hdr-main {
		width: 100%;
		height: 50px;
		background-color: var(--primary-color);
		color: #FFF;
		border-top: 10px solid var(--accent-color);
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
	}

	.hdr-main div a {
		font-size: 38px;
		color: #313131;
	}

	.hdr-main div a:hover {
		color: var(--accent-color);
	}

	.hdr-main h1 {
		margin: 0px;
		font-size: 16px;
		text-shadow: 0px 0px 4px rgba(0,0,0,.5);
	}

	.div-menu-toggle:hover div {
		color: var(--primary-color);
		background: var(--accent-color);
		cursor: pointer;
	}

	.div-menu-toggle:hover h1 {
		text-shadow: none;
	}

	.div-menu-icon {
		text-align: center;
		width: 50px;
		background-color: var(--primary-color);
		font-size: 40px;
		line-height: 50px;
		color: var(--accent-color);
	}

	.div-menu-icon:hover {
		color: var(--accent-color);
		background-color: var(--primary-color);
		cursor: pointer;
	}

	.div-menu-item {
		padding: 5px;
		height: 100%;
		box-sizing: border-box;
		line-height: 40px;
	}

/* Fullscreen overlays */

	.div-fs-overlay {
		display: none;
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: rgba(0,0,0,0.5);
		z-index: 90;
		text-align: center;
	}

	.div-fs-overlay:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.div-fs-content {
		border: 1px solid rgba(0,0,0,0.8);
		padding: 20px;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		background-color: var(--background-color);
		box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.6);
		border-radius: 3px;
	}

/* Headings */

	.div-heading-underlined {
		text-align: left;
		border-bottom: 1px solid var(--primary-color);
		margin-bottom: 20px;
	}

	.div-heading-underlined h1 {
		margin: 0px;
		border-bottom: 4px solid var(--primary-color);
		font-size: 22px;
		display: inline-block;
	}

	.div-body-title {
		font-size: 32px;
	}

/* Body and side menu */

	.body {
		transition: margin-left .5s;
		margin-left: 50px;
	}

	.menu {
		height: 100%;
		width: 50px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-x: hidden;
		transition: 0.5s;
		padding: 50px 0px 0px 0px;
		box-sizing: border-box;
		color: #FFF;
		white-space: nowrap;
		border-top: 10px solid var(--accent-color);
		overflow-y: hidden;
		background: var(--primary-color);
	}

	.menu > .div-title-text {
		display: none;
		padding: 5px;
		height: 20px;
		line-height: 20px;
		margin-bottom: 5px;
		font-size: 18px;
		color: var(--accent-color);
		text-align: center;
	}

	.menu > .div-title-icon {
		height: 30px;
		line-height: 10px;
		color: var(--accent-color);
		margin-bottom: 5px;
		text-align: center;
		font-size: 30px;
	}

	.div-files,
	.div-folders {
		padding: 15px;
	}

	/* sidemenu icons */
	.ul-tools-list,
	.ul-actions-list,
	.ul-cms-list {
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	.ul-tools-list > li,
	.ul-actions-list > li,
	.ul-cms-list > li {
		text-align: left;
		background: rgba(0,0,0,.1);
		margin-bottom: 5px;
		height: 35px;
		padding: 5px;
		line-height: 35px;
	}

	.ul-tools-list > li > i,
	.ul-actions-list > li > i,
	.ul-cms-list > li > i {
		width: 35px;
		font-size: 35px;
		margin-right: 8px;
		text-align: center;
		text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	}

	.ul-tools-list > li > label,
	.ul-actions-list > li > label,
	.ul-cms-list > li > label {
		font-size: 18px;
		display: inline-block;
		vertical-align: top;
	}

	.ul-tools-list > li:hover,
	.ul-actions-list > li:hover,
	.ul-cms-list > li:hover {
		color: var(--accent-color);
		cursor: pointer;
	}

/* Loading icon */

	.div-loading-icon {
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: rgba(255,255,255,0.9);
		border-radius: 3px;
	}

	.div-loading-icon i {
		vertical-align: middle;
		color: var(--primary-color);
	}

	.div-loading-icon:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

/* Buttons */

	.div-buttons {
		margin: 20px 0px 0px 0px;
	}

	.btn-ripple {
		height: 40px;
		border: none;
		outline: none;
		padding: 8px 16px;
		font-family: "Montserrat", sans-serif;
		text-transform: uppercase;
		background: var(--primary-color);
		color: #EAEAEA;
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,.6);
		position: relative;
		text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	}

	.btn-ripple:active {
		box-shadow: 0px 0px 1px 0px rgba(0,0,0,.8);
	}

	.btn-ripple:hover {
		color: var(--accent-color);
		cursor: pointer;
	}

	.btn-ripple i {
		font-size: 18px;
		line-height: 40px;
		text-align: center;
		vertical-align: bottom;
		width: 30px;
		height: 100%;
		background: rgba(0,0,0,.2);
		position: absolute;
		top: 0;
	}

	.btn-ripple-icol {padding-left: 40px;}
	.btn-ripple-icol i {left: 0;}
	.btn-ripple-icor {padding-right: 40px;}
	.btn-ripple-icor i {right: 0;}

	.ripple {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;
		border-radius: inherit;
		pointer-events: none;
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		-webkit-animation: ripple-shadow 0.4s forwards;
				animation: ripple-shadow 0.4s forwards;
	}

	.ripple-wave {
		backface-visibility: hidden;
		position: absolute;
		border-radius: 50%;
		background: rgba(255,255,255,.3);
		opacity: .45;
		-webkit-transform: scale(0.7);
				transform: scale(0.7);
		-webkit-animation: ripple 2s forwards;
				animation: ripple 2s forwards;
	}

	@keyframes ripple-shadow {
		0%   {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
		20%  {box-shadow: 0 4px 16px rgba(0,0,0,0.3);}
		100% {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
	}
	@-webkit-keyframes ripple-shadow {
		0%   {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
		20%  {box-shadow: 0 4px 16px rgba(0,0,0,0.3);}
		100% {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
	}
	@keyframes ripple {
		to {transform: scale(24); opacity:0;}
	}
	@-webkit-keyframes ripple {
		to {-webkit-transform: scale(24); opacity:0;}
	}

/* Forms */

	.ipt-standard {
		width: 100%;
		box-sizing: border-box;
		font-family: "Roboto Slab", sans-serif;
		font-size: 14px;
		padding: 8px;
		outline: none;
		border: 1px solid rgba(0,0,0,0.2);
	}

	.ipt-dark {
		width: 100%;
		border: none;
		outline: none;
		padding: 8px;
		font-size: 14px;
		font-family: "Montserrat", sans-serif;
		//text-transform: uppercase;
		background: var(--primary-color);
		color: #FFF;
		box-sizing: border-box;
	}

/* Unsorted */

	.div-setup-step1 > p > span {
		font-weight: 800;
	}